@media screen {
	body, .header, footer, .header-blue {
		min-width: 100%;
		box-sizing:border-box; 
		}	
}


.header {
	background-color: red;
	display:flex;
	padding: 0em;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 2em;
}


.header > img {
	max-width: 30%; 
}

.header > p {
	color: black;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 2.2em;
	text-align: center;
}

.header-blue {
	background-color: rgb(0, 0, 255);
	display: flex;
	padding: 0em;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 2em;
}


.header-blue >img {
	max-width: 30%;
}

.header-blue >p {
	color: black;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 2.2em;
	text-align: center;
}
.pokemonbild,
.findChampionstart, 
.MyTeamstart {
	display:flex;
	justify-content: center;
	align-items: center;
	color: black;
	padding: 0;
	margin: 0;
}
.championbutton,
.team-button {
	display:flex;
	border:none;
	background: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.button-text {
	margin-top: 10px;
}
.championbutton , 
.button1-div{
	display:flex;
	flex-direction: column;
	align-items: center;
}
.championbutton img,
 .team-button img {
margin: 0;
padding:0;
width:100%;
max-width:600px;
}

.backMenyn {
	display: flex;
	flex-direction: column;
	align-items: left;
}
.backMenyn img {
	margin:0;
	padding: 0.3em;
	width:20%;
	max-width:50em;
}
 .back-button {
 	display: flex;
 	border: none;
 	background: none;
 	cursor: pointer;
 	padding: 0;
 	margin: 0;
 }
 .back-button:hover img{
	background-color: yellow;
 }
.championbutton:hover img,
.team-button:hover img {
background-color: yellow;
}


body {
	background-color: whitesmoke;
}
.searchForPokemonDiv{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

#klarklarMeddelande {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}
.pokemon-enter  {
	
	border: 1px solid black;
	flex: 1 0 calc(50% - 20px);
	/* Anpassa bredden för att ha två Pokémon per rad */
	box-sizing: border-box;
	text-align: center;

}


@media (min-width: 768px) {
	.pokemon-enter{
		flex: 1 0 calc(33.333% - 20px);
		/* Återgå till tre Pokémon per rad på större skärmar */
	}
}
.searchForPokemonDiv >.image {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	
}

.image img {
	max-width: 100% ;
	max-height: 100%;
}


.sök-container{
	display:flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}
.sök-container > p {
	font-size: 2em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-bottom: 0;
	padding:1em;
}

.sök-container > label {
	padding:0.1em;
	width:0.5em;
	margin-right: 0.5em;
}

.sök-container > button{
	cursor: pointer;
	margin:1em;
}
.sök-container> button:active {
	background-color: rgb(41, 208, 41);
}



 footer {
	background-color: red;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10em;
	background-repeat: no-repeat;
} 
footer > p {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1em;
}


.championMenyn,
.my-team {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	padding: 0em;
	min-width: 100%;
	box-sizing: border-box;
		border: 1px solid black;
		text-align: center;
}

.hidden {
	display: none;
}

.visible {
	display: flex;
}

.my-team.visible {
	display:flex;
}

.rubrikPokemon {
font-size: 1.5em;
}

p {
font-size: 0.8em;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
