h1 {
	font-size: 3em;
	margin: 0;
	margin-bottom: 0.7em;
	text-align: center;
	display: flex;
	padding: 0;
	
}

h2 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.3em;
	text-align: center;
	display: flex;
	background-color: whitesmoke;
}

h3 {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 2em;
	text-align: center;
	background-color: whitesmoke;
}

/*TESTNING NEDANFÖR */
.pokemonLista, #pokemonInfo, #klarMeddelande {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	padding: 0em;
	min-width: 100%;
	box-sizing: border-box;
}
.pokemon-enter > #rubrikPokemon {
	margin: 0;
}

.pokemon-enter, .pokemon-enter2 {
	border: 1px solid black;
	flex: 1 0 calc(33.3% - 20px);
	box-sizing: border-box;
	text-align: center;
	align-items: center;
	display: flex;
		flex-direction: column;
		justify-content: center;
}


.pokemon-enter , .pokemon-enter2 >.image {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.pokemon-enter, .pokemon-enter2 > .kickHere {
	padding: 0.4em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: rgb(255, 255, 255);
	margin-top:1em;
	margin-bottom: 1em;
}
 .kickHere:hover{
	background-color: red;
}

.smeknamn {
	margin-bottom: 3em;
}

.pokemon-enter, .pokemon-enter2 > h2{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1em;
	text-align: center;

}

.addPokemonsbutton:hover{
	background-color: rgb(11, 210, 11);
}

#klarMeddelande > #p {
	display:flex;
	flex-direction: row;
}
.abilities {
	display: none;
	text-align: center;
	width: 100%;
}
.pokemon-enter, .pokemon-enter2 .abilities {
	margin-top: 10px;
}

.pokemon-enter, .pokemon-enter2 .abilities h2 {
	margin-bottom: 5px;
}

.pokemon-enter, .pokemon-enter2 .abilities-list {
	list-style-type: none;
	padding: 1em;
}

.pokemon-enter , .pokemon-enter2 .abilities-list li {
	margin-bottom: 5px;
}