@media screen and (max-width: 350px) {
	body,
	main {
		font-size: 10px;
		

	}

}

main, body{
	background-color: #C3BABA;
	background-attachment: fixed;
    display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	font-family: Arial, sans-serif;
}

/* StartView */

#StartView {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 1.2em;
}

h1 {
	font-size: 25px;
	text-align: center;
	padding: 1em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	
}

.divForName {
	display: flex;
	flex-direction: column;
	padding: 1em;
	margin: 1em;}

.divForName>label {
	color: black;
	font-size: 19px;
}

.divForName>p {
	margin-bottom: 0.6em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.divForName>input {
	border-radius: 3em;
	padding: 0.5em;
	height: 20px;
	width: 120px;
}

.svårighetsgrad {
display: flex;
justify-content: space-around;

}
.svårighetsgradButtons {
	text-align: center;
		font-size: 1.2em;
		display: inline-block;
}
.svårighetsgradButtons > p {
	margin-bottom: 20px;
	
}


#buttonLätt, 
#buttonMedium,
#buttonSvår {
	margin-right: 5em;
	width: 5em;
	height: 3em;
	border-radius: 10%;
	}

#buttonLätt {
	background-color: rgb(168, 239, 168)
}

#buttonLätt:hover {
	background-color: rgb(205, 244, 205)
}

#buttonMedium {
	background-color: rgb(235, 190, 106)
	
}

#buttonMedium:hover {
	background-color: rgb(229, 194, 130)
}

#buttonSvår {
	background-color: rgb(245, 85, 85)
	
}

#buttonSvår:hover {
	background-color: rgb(238, 118, 118)
}

.startOchHigh{
	display: flex;
	flex-direction: row;
	gap: 1em;
	flex-direction: space-around;

} 

.buttonForStart,
.highscorediv {
	display: flex;
	padding: 1em;
	gap: 1em;
}
/* Text för input namnen*/
.highscoretext{
	display:flex;
	font-size: 26px;
	
}
.user-name, .player-result, .wrong-guesses, .word-length, .date-time{
	flex-direction: column;
	margin-left: 1.5em;
	margin-top: 1em;
}

.highscorewindow{
	padding: 1em;
	width: 20vw;
	height: 50vh;
	min-width: 270px;
	min-height: 400px;
	position: absolute;
	/* left: 50%; */
	top: 20%;
	justify-items: left;
    background-color: #E9E3E6;	
	border: 5px solid black;
	box-shadow: 0 0 0 9999px rgba(96, 98, 96, 0.25)
}

.rubrik{
	font-weight: bold;
}

#startButton, 
#highscoreButton {
	background-color: lightgrey;
	border-radius: 1.5em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		width: 18em;
		height: 4em;
	
	/* display: inline-block; */
}
#startButton:hover,
#highscoreButton:hover{
	background-color: gray;
}



/* playView */

.playViewButton {
	display: flex;
	padding: 1em;
	flex-direction: column;
	gap: 1em;
}

.playViewButton>button {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	width: 30em;
	height: 4em;
}

#backButton {
	background-color: lightgrey;
	border-radius: 1.5em;
	margin-left: 13em;
}

#backButton:hover {
	background-color: gray;
}

.dash{
	font-size: 24px;
    border-bottom: solid 2px black;
    width: 1em;
    margin-left: 1em;
    margin-top: 2em;
}


/*gameover */

.gameover {
	display: flex;
	padding: 1em;
	gap: 2em;
	width: 20vw;
	height: 50vh;
	min-width: 200px;
	min-height: 400px;
	position: absolute;
	/* left: 40%; */
	top: 20%;
	background-color: #E9E3E6;	
	border: 5px solid black;
	box-shadow: 0 0 0 9999px rgba(96, 98, 96, 0.25)

}

.gameoverButton {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	width: 30em;
	height: 4em;
	display: flex;
}
#tryagainButton {
	background-color: #B2B2B2;
	border-radius: 10%;
	padding: 0.5em;
}

#tryagainButton:hover {
	background-color: #E9E3E6;
}
#backButton2 {
	background-color: #B2B2B2;
	border-radius: 10%;
	margin-left: 13em;
}

#backButton2:hover {
	background-color: #E9E3E6;
}

#highscoreButton2 {
	background-color: #B2B2B2;
	border-radius: 10%;
}

#highscoreButton2:hover {
	background-color: #E9E3E6;
}

#highscoreButtonSmall{
	background-color: #B2B2B2;
	border-radius: 10%;
	padding: 0.5em;
}

#highscoreButtonSmall:hover{
	background-color: #E9E3E6;

}


 /* scorescreen  */

#StartView {
	display: block; } 

#gameoverView {
	display: none;
}



.keyboard-container {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	/* border: solid 1px #000; */
	gap: 8px;
	padding: 0em;
	margin-top: 3em;
}

.key {
	width: 40px;
	height: 40px;
	border: 1px solid #000;
	border-radius: 15%;
	text-align: center;
	/* cursor: pointer; */
	line-height: 40px;
	background-color: #40434E;
	transition: background-color 0.3s;
}

/* .key:hover {
	background-color: #eeeeeee4;
} */
/* Dölj funktion för knapparna när man klickar */ 
.hidden {
	display:none;
}

/* Dölj-funktion för gubben; existerar fortfarande, men gömd */
.invisible{
	visibility: hidden;
}

.incorrect {
	background-color:rgb(118, 57, 57)
}
.correct {
	background-color:rgb(147, 198, 137)
}


/*Visa funktion för knapparna */
.visible {
	display:block;
}
@-webkit-keyframes swinging {
	0% {
		-webkit-transform: rotate(10deg);
	}

	50% {
		-webkit-transform: rotate(-5deg)
	}

	100% {
		-webkit-transform: rotate(10deg);
	}
}

@keyframes swinging {
	0% {
		transform: rotate(10deg);
	}

	50% {
		transform: rotate(-5deg)
	}

	100% {
		transform: rotate(10deg);
	}
}

#head {
	-webkit-transform-origin: 50% 0;
	transform-origin: 75% 0;
	-webkit-animation: swinging 3.5s ease-in-out forwards infinite;
	animation: swinging 3.5s ease-in-out forwards infinite;
}

#body {
	-webkit-transform-origin: 50% 0;
	transform-origin: 75% 0;
	-webkit-animation: swinging 3.5s ease-in-out forwards infinite;
	animation: swinging 3.5s ease-in-out forwards infinite;
}

#arms {
	-webkit-transform-origin: 50% 0;
	transform-origin: 75% 0;
	-webkit-animation: swinging 3.5s ease-in-out forwards infinite;
	animation: swinging 3.5s ease-in-out forwards infinite;
}

#legs {
	-webkit-transform-origin: 50% 0;
	transform-origin: 75% 0;
	-webkit-animation: swinging 3.5s ease-in-out forwards infinite;
	animation: swinging 3.5s ease-in-out forwards infinite;
}



.game-over-word-was{
	font-size: 26px;
	/* margin-left: 18%; */
}
.show-word{
	font-size: 25px;
	/* margin-left: 18%; */
}

#sort-button-date{
	background-color: #B2B2B2;
	border-radius: 10%;
	padding: 0.5em;
}

#sort-button-date:hover{
	background-color: #E9E3E6;
}

#sort-button-guesses{
	background-color: #B2B2B2;
	border-radius: 10%;
	padding: 0.5em;
}

#sort-button-guesses:hover{
	background-color: #E9E3E6;
}

#backButton{
	background-color: #B2B2B2;
	border-radius: 10%;
	margin-left: 13em;
	padding: 0.5em;

}

#backButton:hover{
	background-color: #E9E3E6;

}