@media screen and (max-width: 350px) {
	body,
	main {
		font-size: 14px;

	}
}

main{
	background-image: url("blue.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;

}

/* StartView */

h1 {
	font-size: 30px;
	text-align: left;
	padding: 1em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.divForName {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.divForName>label {
	color: black;
	font-size: 19px;
}

.divForName>p {
	margin-bottom: 0.6em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.divForName>input {
	border-radius: 3em;
	padding: 0.5em;
	height: 20px;
	width: 120px;
}

.svårighetsgrad {
display: flex;
}

.svårighetsgrad>p {
	margin: 1em;
	font-family: 'Franklin Gothic Medium',
		'Arial Narrow',
		Arial,
		sans-serif;
		font-size: 1.2em;
}

.svårighetsgrad> button {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.2em;
}
#buttonLätt, 
#buttonMedium,
#buttonSvår {
	margin-right: 5em;
	width: 5em;
	height: 4em;
	
	}

#buttonLätt {
	background-color: rgb(129, 196, 29);
	
}

#buttonLätt:hover {
	background-color: rgba(0, 128, 0, 0.838);
}

#buttonMedium {
	background-color: rgb(215, 215, 7);
	
}

#buttonMedium:active {
	background-color: orange;
}

#buttonSvår {
	background-color: rgb(204, 30, 30);
	
}

#buttonSvår:active {
	background-color: rgb(127, 8, 8);
}

.startOchHigh{
	display: flex;
	gap: 1em;
	flex-direction: row;
} 

.buttonForStart,
.highscorediv {
	display: flex;
	padding: 1em;
	flex-direction: column;
	gap: 1em;
}
/* Text för input namnen*/
.highscoretext{
	display:flex;
}
.user-name, .date, .time{
	flex-direction: column;
	margin-left: 3.5em;
	margin-top: 1em;
}

.highscorewindow{
	width: 400px;
	height: 550px;
	position: absolute;
	left: 5%;
	top: 20%;
	background-color: rgb(232, 128, 62);
	border: 5px solid darkred;
	box-shadow: 0 0 0 9999px rgba(96, 98, 96, 0.25)
}

.buttonForStart>button,
.highscorediv > button {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	width: 18em;
	height: 4em;
}

#startButton, 
#highscoreButton {
	background-color: lightgrey;
	border-radius: 1.5em;
	
}
#startButton:hover,
#highscoreButton:hover{
	background-color: gray;
}


*/

#buttonLätt:hover {
	background-color: chartreuse;

}

#buttonMedium:hover {
	background-color: rgb(218, 255, 8);

}

#buttonSvår:hover {
	background-color: rgb(255, 6, 6);

}



/* playView */
#playView {

}
.playViewButton {
	display: flex;
	padding: 1em;
	flex-direction: column;
	gap: 1em;
}

.playViewButton>button {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	width: 30em;
	height: 4em;
}

#backButton {
	background-color: lightgrey;
	border-radius: 1.5em;
	margin-left: 13em;
}

#backButton:hover {
	background-color: gray;
}

.dash{
	font-size: 24px;
    border-bottom: solid 2px black;
    width: 1em;
    margin-left: 1em;
    margin-top: 2em;
}

.gameover {
	display: flex;
	padding: 1em;
	gap: 2em;

}

.gameover>button {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	width: 30em;
	height: 4em;
}

/*gameover */
#tryagainButton {
	background-color: lightgrey;
	border-radius: 1.5em;
}

#tryagainButton:hover {
	background-color: grey;
}

#highscoreButton2 {
	background-color: lightgrey;
	border-radius: 1.5em;
}

#highscoreButton2:hover {
	background-color: gray;
}



 /* scorescreen  */

#StartView {
	display: block; } 

#gameoverView {
	display: none;
}

body {
	display: flex;
	align-items: center;
	padding: 2em;
	margin: 0;
	background-color: rgb(255, 249, 253);
	font-family: Arial, sans-serif;
}

.keyboard-container {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	border: solid 1px #000;
	gap: 8px;
	padding: 2em;
}

.key {
	width: 40px;
	height: 40px;
	border: 1px solid #000;
	border-radius: 15%;
	text-align: center;
	cursor: pointer;
	line-height: 40px;
	transition: background-color 0.3s;
}

.key:hover {
	background-color: #eeeeeee4;
}
/* Dölj funktion för knapparna när man klickar */ 
.hidden {
	display:none;
}

/* Dölj-funktion för gubben; existerar fortfarande, men gömd */
.invisible{
	visibility: hidden;
}


/*Visa funktion för knapparna */
.visible {
	display:block;
}
@-webkit-keyframes swinging {
	0% {
		-webkit-transform: rotate(10deg);
	}

	50% {
		-webkit-transform: rotate(-5deg)
	}

	100% {
		-webkit-transform: rotate(10deg);
	}
}

@keyframes swinging {
	0% {
		transform: rotate(10deg);
	}

	50% {
		transform: rotate(-5deg)
	}

	100% {
		transform: rotate(10deg);
	}
}

#head {
	-webkit-transform-origin: 50% 0;
	transform-origin: 75% 0;
	-webkit-animation: swinging 3.5s ease-in-out forwards 2;
	animation: swinging 3.5s ease-in-out forwards 2;
}

#body {
	-webkit-transform-origin: 50% 0;
	transform-origin: 75% 0;
	-webkit-animation: swinging 3.4s ease-in-out forwards 2;
	animation: swinging 3.4s ease-in-out forwards 2;
}

#arms {
	-webkit-transform-origin: 50% 0;
	transform-origin: 75% 0;
	-webkit-animation: swinging 3.4s ease-in-out forwards 2;
	animation: swinging 3.4s ease-in-out forwards 2;
}

#legs {
	-webkit-transform-origin: 50% 0;
	transform-origin: 75% 0;
	-webkit-animation: swinging 3.4s ease-in-out forwards 2;
	animation: swinging 3.4s ease-in-out forwards 2;
}