@media screen and (max-width: 350px) {
	body {
		font-size: 14px;
	}
}
main {
	background-color: rgb(255, 227, 247);
}

/* StartView */  
h1 {
	font-size: 30px;
	text-align: left;
	padding: 1em;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.divForName {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.divForName > label {
	color: white;
	font-size: 15px;
}

.divForName > p {
	margin-bottom: 0.6em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.divForName > input {
	border-radius: 3em;
	padding: 0.5em;
	height: 20px;
	width: 120px;
}

.svårighetsgrad {
	display: flex;
	padding: 1em;
}

.svårighetsgrad > p {
	margin: 1em;
	font-family: Arial, sans-serif;
}

.svårighetsgrad > button {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#buttonLätt {
	background-color: rgb(161, 239, 45);
	width: 5em;
}
#buttonLätt:active {
	background-color: green;
}

#buttonMedium {
	background-color: yellow;
	width: 6em;
}
#buttonMedium:active{
	background-color: orange;
}

#buttonSvår {
	background-color: red;
	width: 6em;
}
#buttonSvår:active {
background-color: rgb(127, 8, 8);
}



.buttonForStart {
	display: flex;
	padding: 1em;
flex-direction: column;
   gap: 1em;
}
.buttonForStart > button {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 30em;
height: 4em;
}
#startButton {
	background-color: lightgrey;
	border-radius: 1.5em;
}
#startButton:hover{
	background-color: gray;
}

#highscoreButton {
	background-color: lightgrey;
	border-radius: 1.5em;
}
#highscoreButton:hover {
	background-color: gray;
}

/* playView */ 

.playViewButton {
	display: flex;
		padding: 1em;
		flex-direction: column;
		gap: 1em;
}

.playViewButton > button {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		width: 30em;
		height: 4em;
}

#backButton {
	background-color: lightgrey;
	border-radius: 1.5em;
}
#backButton:hover {
	background-color: gray;
}

.gameover {
		display: flex;
		padding: 1em;
		gap: 2em;
		
}
.gameover > button {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	width: 30em;
	height: 4em;
}
 /*gameover */
#tryagainButton {
background-color: lightgrey;
border-radius: 1.5em;
}
#tryagainButton:hover {
background-color: grey;
}
#highscoreButton2 {
	background-color: lightgrey;
	border-radius: 1.5em;
}
#highscoreButton2:hover {
	background-color: gray;
}



/* scorescreen */

#StartView {
	display: none; } 