
 body, main {
	background-color: #C3BABA;
	background-attachment: fixed;
    display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	font-family: Arial, sans-serif;

}

/* StartView */

#StartView {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}


h1 {
	font-size: 19px;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.divForName {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1em;
}

.divForName> label {
	color: black;
	font-size: 15px;
	margin-right:0.5em;
}

.divForName>p {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.divForName>input {
	border-radius: 3em;
	padding: 0.5em;
	height: 20px;
	width: 120px;
}


.svårighetsgrad {
display: flex;
justify-content: space-around;
}

.svårighetsgradButtons {
	text-align: center;
	font-size: 1.2em;
	display: inline-block;
	padding: 1em;
}

.svårighetsgradButtons > button{
	margin: auto;
}

.svårighetsgradButtons > p {
	margin-bottom: 20px;
	margin: auto;
}


#buttonLätt, 
#buttonMedium,
#buttonSvår {
	margin-left: 1.1em;
	width: 5em;
	height: 3em;
	border-radius: 10%;
	
	}

#buttonLätt {
	background-color: rgb(168, 239, 168)
}

#buttonLätt:hover {
	background-color: rgb(205, 244, 205)
}

#buttonMedium {
	background-color: rgb(235, 190, 106)
	
}

#buttonMedium:hover {
	background-color: rgb(229, 194, 130)
}

#buttonSvår {
	background-color: rgb(245, 85, 85)
	
}

#buttonSvår:hover {
	background-color: rgb(238, 118, 118)
}

.startOchHigh{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1em;

} 
@media only screen and (max-width:850px) {
	.startOchHigh {
		align-items: center;
	}
}

/* Text för input namnen*/
.user-name, .player-result, .wrong-guesses, .word-length, .date-time{
	flex-direction: column;
	margin-left: 1.5em;
	margin-top: 1em;
}

.highscorewindow{
	padding: 1em;
	width: 33vw;
	height: 50vh;
	min-width: 280px;
	min-height: 500px;
	max-height: 80vh;
	position: absolute;
	/* left: 50%; */
	top: 20%;
	justify-items: left;
    background-color: #E9E3E6;	
	border: 5px solid black;
	box-shadow: 0 0 0 9999px rgba(96, 98, 96, 0.25);
}

.highscoretext{
	display:flex;
	font-size: 16px;
	max-height: 475px;
	overflow: auto;
}
		
.rubrik{
	font-weight: bold;
}

#startButton, 
#highscoreButton {
	background-color: rgb(207, 207, 207);
	border-radius: 1.5em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		width: 12em;
		height: 4em;
	
	/* display: inline-block; */
}
#startButton:hover,
#highscoreButton:hover{
	background-color: rgb(123, 123, 123);
}


/* playView */

.playview {
		align-items: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}


.playViewButton>button {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	width: 30em;
	height: 4em;
}

#backButton {
	background-color: rgb(207, 207, 207);
	border-radius: 1.5em;
}

#backButton:hover {
	background-color: rgb(123, 123, 123);
}


/* @media only screen and (max-width:350px) { */  
.dash{
	font-size: 26px;
    border-bottom: solid 2px black;
    width: 1em;
    margin-left: 0.7em;
    margin-top: 1em;
}
 /* } */ 


/*gameover */

.gameover {
	display: flex;
	padding: 1em;
	gap: 2em;
	width: 20vw;
	height: 50vh;
	min-width: 280px;
	min-height: 300px;
	position: absolute;
	/* left: 40%; */
	top: 20%;
	background-color: #E9E3E6;	
	border: 5px solid black;
	box-shadow: 0 0 0 9999px rgba(96, 98, 96, 0.25)
}

.gameoverButton {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	width: 30em;
	height: 4em;
	display: flex;
}
#tryagainButton {
	background-color: #B2B2B2;
	border-radius: 10%;
	padding: 0.5em;
}

#tryagainButton:hover {
	background-color: #E9E3E6;
}
#backButton2 {
	background-color: #B2B2B2;
	border-radius: 10%;
}

#backButton2:hover {
	background-color: #E9E3E6;
}

#highscoreButton2 {
	background-color: #B2B2B2;
	border-radius: 10%;
}

#highscoreButton2:hover {
	background-color: #E9E3E6;
}

#highscoreButtonSmall{
	background-color: #B2B2B2;
	border-radius: 10%;
	padding: 0.5em;
}

#highscoreButtonSmall:hover{
	background-color: #E9E3E6;

}


 /* scorescreen  */

#gameoverView {
	display: none;
}



.keyboard-container {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	/* border: solid 1px #000; */
	gap: 8px;
	padding: 0em;
	margin-top: 3em;
	margin-left: 3em;
}

.key {
	width: 40px;
	height: 40px;
	border: 1px solid #000;
	border-radius: 15%;
	text-align: center;
	/* cursor: pointer; */
	line-height: 40px;
	background-color: #40434E;
	transition: background-color 0.3s;
}

/* .key:hover {
	background-color: #eeeeeee4;
} */
/* Dölj funktion för knapparna när man klickar */ 
.hidden {
	display:none;
}

/* Dölj-funktion för gubben; existerar fortfarande, men gömd */
.invisible{
	visibility: hidden;
}

.incorrect {
	background-color:rgb(118, 57, 57)
}
.correct {
	background-color:rgb(147, 198, 137)
}


/*Visa funktion för knapparna */
.visible {
	display:block;
}
@-webkit-keyframes swinging {
	0% {
		-webkit-transform: rotate(10deg);
	}

	50% {
		-webkit-transform: rotate(-5deg)
	}

	100% {
		-webkit-transform: rotate(10deg);
	}
}

@keyframes swinging {
	0% {
		transform: rotate(10deg);
	}

	50% {
		transform: rotate(-5deg)
	}

	100% {
		transform: rotate(10deg);
	}
}

#head {
	-webkit-transform-origin: 50% 0;
	transform-origin: 75% 0;
	-webkit-animation: swinging 3.5s ease-in-out forwards infinite;
	animation: swinging 3.5s ease-in-out forwards infinite;
}

#body {
	-webkit-transform-origin: 50% 0;
	transform-origin: 75% 0;
	-webkit-animation: swinging 3.5s ease-in-out forwards infinite;
	animation: swinging 3.5s ease-in-out forwards infinite;
}

#arms {
	-webkit-transform-origin: 50% 0;
	transform-origin: 75% 0;
	-webkit-animation: swinging 3.5s ease-in-out forwards infinite;
	animation: swinging 3.5s ease-in-out forwards infinite;
}

#legs {
	-webkit-transform-origin: 50% 0;
	transform-origin: 75% 0;
	-webkit-animation: swinging 3.5s ease-in-out forwards infinite;
	animation: swinging 3.5s ease-in-out forwards infinite;
}



.game-over-word-was{
	font-size: 26px;
	/* margin-left: 18%; */
}
.show-word{
	font-size: 25px;
	/* margin-left: 18%; */
}

#sort-button-date{
	background-color: #B2B2B2;
	border-radius: 10%;
	padding: 0.5em;
}

#sort-button-date:hover{
	background-color: #E9E3E6;
}

#sort-button-guesses{
	background-color: #B2B2B2;
	border-radius: 10%;
	padding: 0.5em;
}

#sort-button-guesses:hover{
	background-color: #E9E3E6;
}

#backButton{
	background-color: #B2B2B2;
	border-radius: 10%;
	padding: 0.5em;
}

#backButton:hover{
	background-color: #E9E3E6;

}

@media only screen and (min-width: 451px) and (max-width: 649px){
	.highscorewindow{
		width: 80vw;
		top: 10%;
	}
	.highscorewindow > button{
		margin-left: 5em;
	}
}

@media only screen and (min-width: 650px) and (max-width: 850px) {

	.highscorewindow{
		min-width: 330px;
		min-height: 530px;
		width: 80vw;
		padding: 0;
		top: 10%;
	}
	.highscorewindow > button{
		margin-left: 8em;
	}

	.keyboard-container {
		grid-template-columns: repeat(8, 1fr);
	}
}

@media only screen and (max-width: 850px){
	.highscoretext{
		font-size: 10px;
		justify-content: space-evenly;
	}
	.keyboard-container {
		grid-template-columns: repeat(8, 1fr);
	}
	figure{
		height: 45vh;
	}
	svg{
		height: 100%
	}
	.key {
		width: 30px;
		height:30px;
		font-size:12px
	}
}

@media only screen and (max-width: 450px){
	.highscoretext{
		font-size: 10px;
		justify-content: stretch;
	}
	.highscorewindow{
		min-width: 330px;
		min-height: 530px;
		width: 80vw;
		padding: 0;
		top: 10%;
	}
	.highscorewindow > button{
		margin-left: 2em;
	}
	.keyboard-container{
		margin-left: 1em;
	}
	.key {
		width: 30px;
		height: 30px;
	}
}

@media only screen and (min-width: 851px) and (max-width:1050px){
	.highscorewindow{
		width: 55vw;
		top: 10%;
	}
	.highscorewindow > button{
		margin-left: 4em;
	}
	figure{
		height: 45vh;
	}
	svg{
		height: 100%
	}
}
@media only screen and (min-width: 1051px) and (max-width:1250px){
	.highscorewindow{
		width: 40vw;
		top: 10%;
	}
	.highscorewindow > button{
		margin-left: 6em;
	}
	figure{
		height: 45vh;
	}
	svg{
		height: 100%
	}
}