body {
	margin-top: 0em;
	padding: 0;
	
}
.background-div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	background-image: url("../data/img/bild.png");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.4;
}

.background-img {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.theHeader {
	margin-top: 0em;
	background-color: #F8FFAD;
	color: black;
	width: 100%;
	padding: 1px;
   
	display:flex;
	font-family: inria sans;
	text-align: center;

}
h1{
	margin:0;
	font-size: 2em;
}

.icon {
width: 3em;
margin-right: auto;
}
.footer-stay{
position: relative;
min-height: 100vh;
padding-bottom: 4em;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 3em;
	background-color: #F8FFAD;
	text-align: center;
	padding: 0.5em;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-family: inria sans;
	
}

.adress,
.kontakt {
	margin-bottom: 10px;
	color:black;
}
.iconLogIn {
	width: 3em;
	margin-left: auto;	
	background-color: #F8FFAD;
	
}


.iconLogInhide{
	background-color: #F8FFAD;
	border: none;
	
	margin-left: auto;
}


.meny-alternativ {
	display: flex;
	justify-content: center;
	padding: 0.5em;
	background-color: none;
	align-items: center;
	
}

.show-all-products,
.show-all-lek,
.show-all-bad {
	flex: 1;
	text-align: center;
	background-color: #ffd700;
	height: 3em;
	font-family: inria sans;
	margin: 0.5em;
	max-width: 10em;
	font-weight: bold;
	font-size: 1em;
}
.all-products-div{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap:20px;
	padding: 0 15px;
}

.productDiv {
	border: 3px solid #F8FFAD;
	background-color: #ffffff;
	width: 200px;
	
	margin-bottom: 1em;
	font-family: inria sans;
}

.productImage {
	width: 80%;
	height: 40%;
	
}
.priceWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.priceDiv {
margin-top: auto;

}

.productPrice {
	margin: 0;
}
.productName{
	text-align: center;
}






