body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}
.background-div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;  /* la till för annars syns inte elementen på sidan! */ 
	overflow: hidden;
	background-image: url("../data/img/bild.png");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.4;
}

.background-img {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.theHeader {
	margin-top: 0em;
	/* background-color: #F8FFAD; */
	color: black;
	width: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	font-family: inria sans;
	}


.rubrik{
	display: flex;
	align-items: center;
	font-size: 2em;
	text-align: center;
	color:black;
}

.icon {
width: 2em;
}

.footer-stay{
position: relative;

padding-bottom: 4em;
}

.shopping-cart-link {
	cursor: pointer;
}

.All-items-in-cart {
	display: flex;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 3em;
	background-color: #F8FFAD;
	text-align: center;
	padding: 0.5em;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-family: inria sans;
	
}

.adress,
.kontakt {
	margin-bottom: 10px;
	color:black;
}



.meny-alternativ {
	display: flex;
	justify-content: center;
	padding: 0.5em;
	background-color: none;
	align-items: center;
}

.all-products-div{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
	gap:20px;
	padding: 0 15px;
	margin-top: 4em;
	margin-left: 4em;
	
}

.productDiv {
	border: 3px solid #F8FFAD;
	background-color: #ffffff;
	width: 200px;
	margin-bottom: 1em;
	font-family: inria sans;
}

.productImage {
	width: 80%;
	height: 40%;
	align-items: center;
}
.priceWrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.priceDiv {
margin-top: auto;

}

.productPrice {
	margin: 0;
}
.productName{
	text-align: center;
}

.search-label{
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 10%;
	align-items: center;
}
.search-label > p {
	margin: 0;
}





