.backBtn {
	background-color: #FFD700;
	cursor: pointer;
	padding: 0.5em;
	border-radius: 10%;
	margin-top: 2em;
	margin-left: 1em;
}

.LogInBtn{
	background-color: #FFD700;
	cursor: pointer;
	padding: 0.8em;
	margin-top: 1em;
	margin-left: 1em;
	border-radius: 10%;
}

.cart-btn{
background-color: #FFD700;
cursor: pointer;
border-radius: 10%;

}

.cart-div{
	float:right;
}
.shoppingcart{
	width: 3em;
	height: 3em;
	
}