.backBtn {
	background-color: white;
	cursor: pointer;
	padding: 0.5em;
	border-radius: 10%;
	color: black;
	border: 2px solid #e5930e;
	font-family: inria sans;
	font-size: 1em;
	box-shadow: 1px 1px 2px #e5930e;
	font-weight: bold;
	margin-right:9em;
	margin-bottom: 1em;
	
}

.LogInBtn{
	background-color: white;
	cursor: pointer;
	padding: 0.8em;
	margin-top: 1em;
	border-radius: 10%;
	border: 2px solid #e5930e;
	font-family: inria sans;
	font-size: 1em;
	box-shadow:1px 1px 6px #e5930e;
	font-weight: bold;
}

.cart-btn{
background-color: #FFD700;
cursor: pointer;
border-radius: 10%;
border:none;
margin-left: 1em;

}

.cart-div{
	float:right;
	margin-right: 5em;
	border: 2px solid #e5930e;
	background-color: white;
}
.shoppingcart{
	width: 3.3em;
	height: 3.3em;
	
}
.search-btn {
	background-color: white;
	border: 1px solid #e5930e;
}
.search-btn:active{
background-color: #FFD700;
}

.searchicon {
	width: 2em;
	height: 1.7em;
	cursor: pointer;
	background-color: transparent;
	border: none;
}
.searchicon:active{
	background-color: #FFD700;
}

.show-all-products,
.show-all-lek,
.show-all-bad {
	flex: 1;
	text-align: center;
	background-color: #ffd700;
	height: 3em;
	font-family: inria sans;
	margin: 0.5em;
	max-width: 10em;
	font-weight: bold;
	font-size: 1em;
}
.show-all-products:active,
.show-all-lek:active,
.show-all-bad:active,
.show-all-products:focus,
.show-all-lek:focus,
.show-all-bad:focus {
background-color:#e5930e;

}


.iconLogIn {
	width: 2em;
	margin-left: auto;
	background-color: #ffd700;
	cursor: pointer;
}


.iconLogInhide {
	/* background-color: #F8FFAD;*/
	background-color: #ffd700;
	border: none;
	width: 6em;
	margin-left: auto;

}

.cart-div {
	position: relative;
	margin-top: 1em;
}

.shoppingcart-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.shoppingcart {
	width: 50px;
	height: auto;
}

.cart-counter-btn {
	position: absolute;
	top: -2px;
	right: 19px;
	color: black;
	font-size: 1.1em;
	padding: 1px 5px;
}