.LogInForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.6em;
	background-color: #ffd700;
	text-align: center;
	align-items: center;
	padding: 3em;
	position: absolute;
	bottom: 10em;
	width: 10em;
	font-family: inria sans;
	border-radius: 10%;
	border: 3.5px solid #e5930e;
}

.error-msg {
	color: red;
}
